<h1>Charts</h1>

<div class="float:left">
  <%= image_tag(@chart) %>
</div>

<div stlye="float:right">
  <%= image_tag(@bar)%>
</div>

<div>
  <%= image_tag(@venn) %>
</div>

<div>
  <%= image_tag(@bar2) %>
</div>

<div>
  <%= image_tag(@pie_2d)%>
</dvi>

<div>
  <%= image_tag(@pie_3d) %>
</div>
