<% provide(:title, "New Transaction") %>

<h1>New Transaction</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@transaction, url: user_transactions_path) do |f| %>
      <%= render 'shared/transaction_error_messages' %>

      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control'%>

      <%= f.label :amount %>
      <%= f.number_field :amount, step: :any, class: 'form-control' %>

      <%= f.label :category %>
      <%= f.collection_select(:category_id, @categories, :id, :name)  %>

      <%= f.label :credit %>
      <%= f.check_box :credit, class: 'form-control' %>

      <%= f.label :date %>
      <%= f.date_field :date, class: 'form-control' %>

      <%= f.submit "Add Transaction", class: "btn btn-primary"%>

    <% end %>
  </div>
</div>
